
<nav class="navbar navbar-expand-lg navbar-light bg-light w-100" style="box-shadow: 20px 20px 10px black;">
    <a class="navbar-brand" href="/"><img width="80" height="80" src="/img/logo.png" alt=""></a>



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            

            <a class="nav-item nav-link active" href="/main">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/main/new">Upload</a>
            <a class="nav-item nav-link" href="/qna">Q&A</a>
            <a class="nav-item nav-link" href="/users/logout">Logout</a>


        </div>
    </div>
</nav>



<h1 class="mt-4 text-center font-weight-bold">Dashboard</h1>
<form action="/main/search" method="POST" class="form-inline">

    <div class="form-group mr-10 ml-10">

        <input class="form-control form-control-lg" type="text" placeholder="Search here for fields.." name="tags">
    </div>
    <button type="submit" class="btn btn-success">Search</button>
</form>
<div class="container mt-20">
    
<% posts.forEach((post)=>{ %>
<div class="card my-5" style="box-shadow:10px 10px 5px black;" data-id="<%= post.id %>">
    <div class="card-body">
        <h5 class="card-title font-weight-bold"><%= post.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">-by <%= post.author %><br> <%= post.createdAt %></h6>
        <% post.tags.forEach(t=>{ %>
        <span class="badge badge-success"><%= t %> </span>
        <% }) %>
        <p class="card-text text-center font-italic"><%= post.sum %></p>
        <!-- <a href="docs/<%=post.filename %>" target="_blank" class="card-link">Resources</a> -->
        <div class="d-flex flex-row" id="like-unlike-btn">
            <a href="/docs/<%=post.filename %>" target="_blank" class="card-link text-center mr-10">Resources</a>
                                <div class="like-unlike mr-10">
                                    <i class="fa fa-thumbs-up like-button" data-id="<%= post.id %>" style="margin:5px 5px"
                                    data-index="<%= post.likes.findIndex(v=>v.email==user.email) %>" onclick="toggleLike(event)">
                                       <%= post.likes.length %>
                                    </i>
                                </div>
                                <div class=" like-unlike">
                                
                                    <i class="fa fa-comments comment-button" id="comment-button-<%=post.id %>" data-id="<%= post.id %>"
                                        onclick="showComments(event)" style="margin: 5px 5px;"><%= post.comments.length %></i>
                                
                                </div>
                                <div class=" like-unlike">
                                
                                    
                                        <i class="fas fa-envelope-square send-mail-button" id="send-button-<%=post.id %>" data-id="<%= post.id %>"
                                        onclick="sendMail(event)" style="margin: 5px 5px;"></i>
                                
                                </div>
                                
        </div>
    </div>
    <div class="mt-24 mr-4 ml-4 comment-box" id="comment-box-<%= post.id %>" style="overflow-y: auto; margin-top: 40px; display: none;">
    <div class="card-title" style="margin-top: 32px;">
        
            <div class="form-group " style="display:flex;flex-direction: row;">
        
                <input type="text" name="comment" id="input-<%= post.id %>" class="form-control mb-10 mt-10"
                    placeholder="Write a comment">
                <button id="" onclick="addComment(event)" class="btn btn-primary add-comment" data-id="<%= post.id %>">Send</button>
            </div>
       
        <h4>Comments</h4>
    </div>
    
    <% post.comments.forEach(comment=>{ %>
    <div class="card" class="each-comment"
        style="display: flex; flex-direction: row; justify-content: start ;height: auto;">
    
    
        <div class="profile pr-0">
            <img src="../../img/profile.png" class="mt-2" width="20%" height="40px" alt="...">
            <%= comment.name %>
        </div>
    
        <div class="card-body">
            <p class="card-text" style="text-align: start; font-size: 1.2em;">
                <%=comment.comment %>
            </p>
        </div>
    </div>
    
    <% }) %>
    
    </div>
    
</div>


<% }) %>


</div>
